body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #090c0e -29.09%,
    #1c272d 81.77%,
    #202e36 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #090c0e;
  background: linear-gradient(
    200.96deg,
    #090c0e -29.09%,
    #1c272d 81.77%,
    #202e36 129.35%
  );
  overflow-y: auto;
  box-sizing: border-box;
}

#root::-webkit-scrollbar {
  width: 12px;
}

#root::-webkit-scrollbar-track {
  background: #1c272d;
  border-radius: 5px;
}

#root::-webkit-scrollbar-thumb {
  background: #5d00ff;
  border-radius: 5px;
}

#root::-webkit-scrollbar-thumb:hover {
  background: deepskyblue;
}

#scrollbar-corner-overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 34px;
  background: #182127;
  transform: translate(50%, 50%);
  pointer-events: none;
}
